<!DOCTYPE html>
<html>
  <head>
    <title>ようこそ</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <meta charset="utf-8">
    <style>
    	table{
    		margin: 0 auto;
    	}
    	tr td:first-of-type{
    		width: 150px;
    	}

    	tr td:nth-of-type(2){
    		width:400px;
    	}
    	.help{
    		display:inline-block;
    		position: relative;
    		width: 20px;
    		height:20px;
    		border-radius:10px;
    		background-color: orange;
    		line-height:24px;
    		text-align:center;
    		font-weight:bold;
    	}
    	.desc{
    		z-index: 1;
    		display:none;
    		position:absolute;
    		top: 25px;
    		font-size: 13px;
    		font-weight:normal;
    		text-align:left;
    		width: 600px;
    		padding: 5px;
    		background-color:#fff280;
    		border-radius: 5px;
    	}

    	input[type=text]{
    		width: 300px;
    	}

    	blockquote{
    		font-size:14px;
    		margin: 10px;
    		padding: 5px;
    		background-color: #e3e3e3;
    	}

		li{
			margin:0;
			padding:0;
		}

    </style>
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script>
    	$(function(){
	    	$(".help").hover(function(){
	    		$(this).find(".desc").show()
	    	},function(){
	    		$(this).find(".desc").hide()    		
	    	})    		
    	})

    </script>
  </head>
  <body>

  	<div id="container" style="">
    <%- include("header_login", {title: "新規村建て"}) %>
  	<% var error = error || ""%>
  	<% if(error!="") {%>
  	エラー・<%= error %>
  	<% } %>
	<form method="post" action="/makeroom">
		<table>

		<tr>
			<td>
				村の名前
				<div class="help">？<div class="desc">村名を入力します。「17人普通村」「12人狐あり」「誰歓最大18Y」とか。</div></div>
			</td>
			<td>
				<input type="text" name="name">村
			</td>
		</tr>

		<tr>
			<td>
				PR
				<div class="help">？<div class="desc">更新時間とか。</div></div>
			</td>
			<td>
				<input type="text" name="pr">
			</td>
		</tr>


		<tr>
			<td>
				配役:
				<div class="help">？<div class="desc">
					Y(Yakiniku)…焼肉鯖おすすめの配役です。<br>
					W(Wakamete)…続わかめて鯖をベースにした、シンプルな配役です。製作中です。<br>
					V(Variant)…あちこちから<s>パク</s>アデアをお借りした、一風変わった配役です。製作中です。
				</div></div>
			</td>
			<td>
				<select name="casttype" value="Y">
					<option value="Y">Y</option>
				</select>
			</td>
		</tr>

		<tr>
			<td>
				定員:
				<div class="help">？<div class="desc">
					村の最大人数を設定します。上限は現在20です。
				</div></div>
			</td>
			<td>
				<input type="number" name="capacity" max="20" min="4" value="17">
			</td>
		</tr>

		<tr>
			<td>
				時間：<div class="help">？<div class="desc">各フェイズの時間です。<br>
				焼肉鯖は夜時間固定を採用しています。能力実行時間は90秒～120秒程度を推奨します。</div></div><br>
			</td>
			<td>
				昼　：<input name="day" type="number" value="270" min="10" max="600">秒<br>
				投票：<input name="vote" type="number" value="180" min="10" max="300">秒<br>
				夜　：<input name="night" type="number" value="180" min="10" max="600">秒<br>
				能力：<input name="ability" type="number" value="120" min="10" max="300">秒<br>
			</td>
		</tr>
		<tr><td colspan="2">
			以下の項目に同意してください。
			<blockquote>
			<ul>
				<li>建てた村は責任を持って管理してください。<strong>焼肉鯖は廃村を許容します。</strong><br>開始できそうにないときは廃村を行ってください。<br></li>
				<li>建て逃げ・放置村が続く場合は、村建てを禁止、ないし制限することがあります。</li>
			</ul>
			</blockquote>
			
		</td></tr>
		<tr><td colspan="2"><input type="submit" value="村を作成"></td></tr>


		</table>
		
	</form>

		
	</form>
	</div></div>
  </body>
</html>
