<!DOCTYPE html>
<html>
  <head>
    <title>ようこそ</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <meta charset="utf-8">
    <style>
      #container{
        white-space:pre-line;
        font-size:14px;
      }
    </style>
  </head>
  <body>
  	<div id="container"><%- include("header_login", {title: "禁止事項"}) %>
    <div id="content">
    <h2>禁止事項</h2>

項目が多いですが、ひとつひとつは常識的なことばかりです。

村にローカルルールが明示されていない場合は、基本的に本ページの内容に準じます。
違反を発見したら、GMは適切に処理を行ってください。

<h3>ゲーム中に、その内容をゲーム外の場所で話すこと</h3>
人狼ゲームは、「自分の持つ情報から内訳を推理し、議論する」ゲームです。
ゲーム参加者は、たとえ自分が死んでも、ゲーム終了までその村の話題を他の場所
（たとえばメール、Twitter等)で話さないでください。

<h3>二窓行為</h3>
上に同じ。自分の役職以外の情報を得ることは、ゲームの前提を覆します。
ニ窓はゲーム参加者への冒涜に等しいです。

<h3>シスコピ</h3>
シスコピとは、システムメッセージ（たとえば占い結果）をコピペして、そのまま発言する行為です。
ゲームと離れたところで役職の真を証明してしまうため、禁止します。
なお、夜に発言するのは問題ありません。

役職の結果は、自分の言葉で書きましょう。
村人には「○」、人狼には「●」の記号がよく使われます。

例：
占いCO ゲルトさんは○でした。
霊能CO 昨日処刑されたオットーさんは●でした。

（焼肉鯖では、コピーされたくないシステムメッセージは簡易的にコピペできない処置をしています）


<h3>村の掛け持ち</h3>
一つの村に集中して下さい。
なお、死んだ後に別の村に入村することは禁止しません。


<h3>突然死、特に戦略的突然死</h3>
ゲームには責任を持って最後まで参加しましょう。
途中で飽きたからやめる、などという行為は、他参加者に迷惑です。
ただし、やむを得ない理由で突然死せざるを得ない場合もあるので、
1回の突然死ですぐ規制、ということにはなりません。

また、突然死はあくまでゲームを円滑にすすめるための機能です。
突然死をしてグレーを減らすなどの行為は認められません。

<h3>暴言</h3>
画面の向こうにいるのは人間です。
ゲームの特性上議論が過激になるのは仕方ありませんが、
人格攻撃はしてはいけません。ゲームのルール以前の問題です。

例)
×お前下手だな、人狼やめろ
×呪殺対応も出来ないのに参加するな
×センスないね

なお、身内村で、じゃれあいに使われる暴言はこの限りではありません。

例)
何のんきにヘイローしとんねん殺すぞｗ

<h3>役職「村人」の役職騙り</h3>
役職「村人」の騙りは、推理の幅を著しく広げてしまうため、このサーバーでは基本的に禁止です。
難しい問題ですが、人狼ゲームのレギュレーションだと思ってください。
ただし、3人日の人狼騙りだけは、例外的に許容されます。

ただし、GMによってルールが宣言されている場合は、この限りではありません。
村騙り完全禁止の村や、逆に村騙りOKの村を建てることは可能です。

<h3>意図を説明できない騙り</h3>
セオリーにない騙りはOK、むしろ推奨します。
奇策を完全に排除するのは人狼ゲームの可能性を狭めることですし、
ひょっとしたらそこから新しい定石が生まれるかもしれません。
たとえば、共有者の人狼COとか。その意味はともかく……。

ただし、そのような定石外の騙りを行う場合は、
かならず霊界、もしくは終了後に、その意図を説明してください。
意図を説明する気もないのに意味不明な騙りを行う人を、リア狂と呼びます。

<h2>非推奨事項</h2>

<h3>初心者騙り</h3>
初心者COは基本的にOKです。
どう初心者COを受け入れゲームを回すかは、周りの中級者以上の腕にかかっています。
初心者とゲームをしたくない人は、戦績村を建ててください。

ですが、初心者を騙り村目を得る行為は行為はマナー違反です。
ただし、初心者騙りは判定がその難しいために、非推奨事項とします。

<h3>ステルス(おはステ、完ステ、それに類する行為)</h3>
人狼は議論して勝敗を決するゲームです。喋る気のない人は、じゃんけんをしてください。
ただし、展開によってはまったく議論することがない場合もあること、
特に初心者は何を喋ればいいかわからない場合もあるので、非推奨とします。

<h3>メタ発言</h3>
メタ発言とは、
「この発言は○○さんではないか」
「○○さんがこの発言をするときは、人外ではないか」
という、盤面外の議論のことです。

オンライン人狼は基本的に匿名で行うものです。これらの発言は推奨されません。
逆に個人が特定できる身内村、ID公開村などでは自由です。

なお、「吠えが少ないからLWではないか」といったいわゆる「吠えメタ」は非推奨事項に**あたりません**。
吠えの数とタイミングは公開情報であるからです。
  </div>
	</div>
  </body>
</html>