<!DOCTYPE html>
<html>
  <head>

    <%- include("head", { "title": "サーバーのルール"}) %>

    <style>
      #container{
        white-space:pre-line;
        font-size:14px;
      }
    </style>
  </head>
  <body>
    
  	<div id="container"><%- include("header_login", {title: "サーバーのルール"}) %>
    <div id="content">

<h2>村に参加する</h2>
<a href="/rule">ルール</a>に従ってください。
ルール違反がひどい場合には参加制限・アクセス制限を行うことがあります。
ご了承ください。

<h3>スマホからの参加</h3>
焼肉鯖はスマホから参加できます。
ただし、村のルールでPCのみとすることは可能です。


<h2>村を建てる</h2>

<h3>村のルール</h3>
村のローカルルールがある場合は、その旨を明記してください。
基本的には<a href="/rule">ルール</a>に準じますが、
独自のルールの村を建てることは可能です。(村騙り可否、戦績縛りなど)

<h3>村の管理</h3>
GMは最低でもゲーム開始、できればゲーム終了まで責任を持って村を管理してください。
もし人が集まらなかった場合、焼肉鯖は<b>廃村を推奨します</b>。

逆に<b>消化村を禁止します</b>。
もちろん、目標に満たなかったが少人数で遊びたい、という場合はOKです。
禁止するのは、廃村をしないだけの目的で即噛み即投票を行う村です。

<h3>廃村について</h3>

村開始前の廃村はためらう必要はありませんが、村を開始した後の廃村は慎重になってください。
慎重になれ、とは、何があってもゲームを続けろ、という意味ではありません。
たとえばゲーム初日にリア狂が発生してしまった場合などは、さっさと廃村して仕切り直すほうがよいこともあります。
また、終盤で突然死が発生したがゲームの展開にあまり影響がない場合は、廃村しないほうがよいでしょう。
最終的な判断はGMが行ってください。

なので、<b>GMはプレイヤーとしての経験があることが望ましい</b>です。

廃村したあとは、<b>廃村した理由を村に説明してください。</b>
理由なき廃村はリア狂と見なします。

<h3>身内村</h3>
焼肉鯖は身内村OKです。村名にその旨を明記してください。
議論をボイスチャット等で行い、投票や能力実行のみを行う場合も利用OKですが、
その旨を村に一言明記してください。

</div>
	</div>
  </body>
</html>