<!doctype html>
<html>
<head>
<title>ワード人狼 焼肉鯖</title>
<meta charset="utf-8">
<link rel="stylesheet" href="../stylesheets/worewolf.css">
<link rel="stylesheet" href="../stylesheets/wordwolf.css">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<header class="word">
<h1 id="title">人狼</h1>
<span id="pr"></span>
<span id="phase"></span><span id="timer"></span>
<div class="top"><a href="/">トップへ</a></div>
</header>
<div id="container">
<div id="left">
<div id="talk" class="hide">
    <input id="message" type="text" autocomplete="off"/><input id="chat" type="button" value="発言">
</div>
<div id="command">
    <div id="command-login">
        名前:
        <input id="name">
        色：
        <select id="color">
            <option value="red">赤</option>
            <option value="pink">ピンク</option>
            <option value="orange">オレンジ</option>
            <option value="yellow">黄色</option>
            <option value="green">緑</option>
            <option value="skyblue">水色</option>
            <option value="blue">青</option>
            <option value="indigo">藍</option>
            <option value="purple">紫</option>
            <option value="black">黒</option>
        </select>
        <input id="enter" type="button" value="入室">      		
    </div>
    <div id="command-logout">
        <div class="handle">▼個人情報を変更</div>
        <div class="detail"> 
        <div class="box">
        <table>
        <tr><td>CN:</td><td><input type="text" id="fix-cn"></td></tr>
        <tr><td>色:</td><td><select id="fix-color">
            <option value="red">赤</option>
            <option value="pink">ピンク</option>
            <option value="orange">オレンジ</option>
            <option value="yellow">黄色</option>
            <option value="green">緑</option>
            <option value="skyblue">水色</option>
            <option value="blue">青</option>
            <option value="indigo">藍</option>
            <option value="purple">紫</option>
            <option value="black">黒</option>
        </select></td></tr>
        <tr><td></td><td><input type="button" value="変更" id="fix-player"></td></tr>
        </table>
    </div><div class="box">
        <input type="button" value="退室" class="exit big">	
        </div>
        </div>
    </div>
    <div id="command-rm">
        <div class="handle">▼村の設定</div>
        <div class="detail">
        <div class="box"><input type="button" value="ゲーム開始" class="big" id="gameStart"></div>
        <div class="box"><input type="button" value="村情報修正" class="big" id="fixVillageInfo"></div>
        <div class="box"><select id="gmTarget"></select><br/><input type="button" value="キック" id="kick"></div>	
        </div>
        <div id="vinfo">
            <div>村名</div><input type="text" id="fix-name"class="long"><br>
            <div>PR</div><input type="text" id="fix-pr" class="long"><br>
            <div>出題</div><input type="number" id="fix-time-setWord">
            <div>議論</div><input type="number" id="fix-time-discuss">
            <div>逆転</div><input type="number" id="fix-time-counter"><br>
            <input type="button" value="変更" id="fix-gm">
        </div>
    </div>
    <div id="command-gm-setWord">
        <div>
            村ワード:<input type="text" id="vword"><br>
            狼ワード:<input type="text" id="wword"><br>
            狼の数:<input type="number" id="wolfNum" value="1"><br>
            <input type="button" value="決定" id="setWord">            			
        </div>
    </div>
    <div id="command-gm-judge">
        <div>
            <input type="button" value="正解" id="villageWin" class="big">  
            <input type="button" value="残念" id="wolfWin" class="big">		
        </div>
    </div>
    <div id="command-vote">
        <div>
            投票：<select id="voteTarget"></select>
            <input type="button" value="投票" id="vote">					
        </div>
    </div>
    <div id="command-reload">
        サーバーとの通信が切断されました。<br>
        リロードしてみてください。
    </div>
</div>
<table id="discuss">
    <tbody>
    </tbody>
</table>
</div>
<div id="right">
<div id="player">
    <div id="playernum"></div>
    <ul id="playerlist"></ul>      	
</div>
</div>

</div>

<div id="word-vote">投票</div>



<!-- socket.ioをロードする -->
<script>
var me = {
    id: "<%= id %>",
    isWatch: true
}
var vno = <%= vno %>
</script>
<script src="../socket.io/socket.io.js"></script>
<script src="../javascripts/jquery-3.4.1.min.js"></script>
<script src="../javascripts/wordwolf-client.js"></script>
</body>
</html>