<!doctype html>
<html>
<head>
	<title>人狼 焼肉鯖</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../stylesheets/worewolf.css">
</head>
<body>
	<div id="container">
	<header>
		<h1 id="title">人狼</h1>
		<span id="pr"></span>
		<span id="phase"></span><span id="timer"></span>
		<div class="top"><a href="/">トップへ</a></div>
	</header>
	<div id="left">
		<div id="talk" class="hide">
			<textarea id="message" autocomplete="off" rows="5" cols="60" /></textarea><input id="chat" type="button" value="発言"><div id="option">
			<div class="size big" data-size="big">太</div>
			<div class="size small" data-size="small">小</div><br>
			<select id="talkType">
				<option value="discuss">会話</option>
			</select>				
			</div>

		</div>
		<div id="job">
			
		</div>
		<div id="command">
			<div id="command-login">
				名前:
				<input id="name">
				色：
				<select id="color">
					<option value="red">赤</option>
					<option value="pink">ピンク</option>
					<option value="orange">オレンジ</option>
					<option value="yellow">黄色</option>
					<option value="green">緑</option>
					<option value="skyblue">水色</option>
					<option value="blue">青</option>
					<option value="indigo">藍</option>
					<option value="purple">紫</option>
					<option value="black">黒</option>
				</select>
				<input id="enter" type="button" value="入室">      		
			</div>
			<div id="command-logout">
				<div class="box">
				CN:<input type="text" id="fix-cn"><br>
				色:<select id="fix-color">
					<option value="red">赤</option>
					<option value="pink">ピンク</option>
					<option value="orange">オレンジ</option>
					<option value="yellow">黄色</option>
					<option value="green">緑</option>
					<option value="skyblue">水色</option>
					<option value="blue">青</option>
					<option value="indigo">藍</option>
					<option value="purple">紫</option>
					<option value="black">黒</option>
				</select><br>
				<input type="button" value="変更" id="fix-player">
			</div><div class="box">
				<input type="button" value="退室" class="exit">	
				</div>			   		
			</div>
			<div id="command-gm">
				<div class="box">
				<input type="button" value="ゲーム開始" class="big" id="gameStart">
				</div>
				<div class="box"> 
				<input type="button" value="NPC召喚" id="summonNPC">	
				<input type="button" value="配役確認" id="checkCast">
				<input type="button" value="村情報修正" id="fixVillageInfo">
				<br>

				<select id="gmTarget"></select>
				<input type="button" value="キック" id="kick">
				</div>
			<div id="vinfo">
				村名<input type="text" id="fix-name"><br>
				PR<input type="text" id="fix-pr"><br>
				昼<input type="number" id="fix-time-day">
				投票<input type="number" id="fix-time-vote">
				夜<input type="number" id="fix-time-night">
				能力<input type="number" id="fix-time-ability"><br>
				定員<input type="number" id="fix-capacity">
				配役<select id="fix-casttype"><option value="Y">Y</option><option value="D">D</option></select>
				霊界表示<select id="fix-isShowJobDead"><option value="1">はい</option><option value="0">いいえ</option></select>
				<input type="button" value="変更" id="fix-gm">
			</div>
			</div>
			<div id="command-ability">
				<div>
					能力実行：<select id="abilityTarget"></select>
					<input type="button" value="XX" id="ability">					
				</div><div class="alert hide">未実行です</div>

			</div>
			<div id="command-vote">
				<div>
					投票：<select id="voteTarget"></select>
					<input type="button" value="投票" id="vote">					
				</div><div class="alert hide">未投票です</div>
			</div>
			<div id="command-reload">
				サーバーとの通信が切断されました。<br>
				リロードしてみてください。
			</div>
		</div>
		<table id="discuss">
			<tbody>
			</tbody>
		</table>
	</div>
	<div id="right">
		<div id="player">
			<div id="playernum"></div>
			<ul id="playerlist"></ul>      	
		</div>
	</div>

	</div>

	<div id="memoButton"> memo </div>
	<div id="memo">
		<div id="memoClose">×</div>
		<div id="memoTabs">
			<div class="memoTab selected" data-name="Discuss">発言ログ</div>
			<div class="memoTab" data-name="Vote">投票ログ</div>
			<div class="memoTab" data-name="Free">自由帳</div>
		</div>
		<div id="memoBody">
			<div id="memoDiscuss">
			<div id="memoDiscussFilter">
			<ul id="memoDiscussPlayer">
				
			</ul>
			<ul id="memoDiscussDay">
				
			</ul>
			</div>
			<table id="memoDiscussTable">
				
			</table>
			</div>
			<div id="memoVote"></div>
			<div id="memoFree">
				<textarea id="memoFreeSpace"></textarea>
			</div>			
		</div> 
	</div>


	<!-- socket.ioをロードする -->
	<script>
		var me = {
			id: "<%= id %>",
		    isWatch: true
		}
		var vno = <%= vno %>
	</script>
	<script src="../socket.io/socket.io.js"></script>
	<script src="../javascripts/jquery-3.4.1.min.js"></script>
	<script src="../javascripts/worewolf-client.js"></script>
	<script src="../javascripts/worewolf-memo.js"></script>
</body>
</html>