<!doctype html>
<html>
<head>
	<title>人狼 焼肉鯖</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../stylesheets/worewolf.css">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div id="app"> memo </div>
	<!-- socket.ioをロードする -->
	<script>
		var vno = <%= vno %>
	</script>
	<script src="../javascripts/worewolf.js"></script>
</body>
</html>