* {
    box-sizing: border-box;
}

html {
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../images/bg_gray.gif);
}

#container {
    background-color: rgba(255, 255, 255, 0.7);
}

header {
    width: 100%;
    background-color: orange;
    margin: 0 auto;
    padding: 5px;
    height: 40px;
}

header.word {
    background-color: lightgreen;
}

header div {
    display: inline-block;
}

header .title {
    width: 75%;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    vertical-align: baseline;
}

header .user {
    width: 24%;
    text-align: right;
}

@media screen and (min-width: 769px) {
    #container {
        width: 800px;
        min-height: 100vh;
        margin: 0 auto;
    }

    #content {
        padding: 10px;
    }

    .title {
        text-align: left;
    }

    h2,
    h3 {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    #container {
        width: 100%;
        padding: 0px;
    }

    #content {
        padding: 10px;
    }
}
