#table_wrap{
	width:100%;
	max-width:100%;
	overflow:auto;
}



#rooms{
	margin: 0 auto;
	border-collapse: collapse;
}

#rooms th{
	text-align: center;
	font-weight:bold;
}

#rooms th,#rooms td{
	border: 1px solid #666;
	padding:5px;
}


@media screen and (max-width:768px){
	tr{
		display:block;
		border:1px solid #666;
	}
	#rooms td, #rooms th{
		display:block;
		border:0px solid #111;
		padding:0;
	}
}