@import url("./worewolf_sp.css") screen and (max-width: 768px);
@import url("./worewolf_pc.css") screen and (min-width: 769px);

#command-gm,
#command-logout {
    background-color: #fff280;
}

#pr {
    display: none;
}

.votesummary {
    margin-left: 37px;
    line-height: 1.5;
    font-weight: normal;
    border-collapse: separate;
    border-spacing: 0px 0px;
}

#discuss .votesummary td {
    padding: 0;
}

#discuss tr:not(.vote) td[colspan] {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

#discuss .progress > td,
#discuss .system > td {
    line-height: 32px;
}

#discuss .progress td {
    background-color: rgb(255, 185, 55);
}

#discuss td img {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    width: 32px;
    /*background-color: white;*/
}

#discuss tr.system > td {
    background-color: #ddd;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.info {
    background-color: #ddd;
}

.tweet td,
.wolf td,
.share td,
.fox td,
.wolfNeigh td {
    background-color: #333;
    color: white;
}

.tweet td.talk {
    color: lightblue;
}

.wolf td.talk {
    color: lightpink;
}

.wolf-system {
    background-color: pink;
    user-select: none;
}

.share td.talk {
    color: lightgreen;
}

.fox td.talk {
    color: yellow;
}

.personal {
    background-color: paleturquoise;
    user-select: none;
}

.grave {
    background-color: wheat;
}

.gmMessage {
    background-color: violet;
}

.offline {
    color: red;
}

.votenum {
    background-color: orange;
    border-radius: 8px;
    padding: 0px 4px;
    color: white;
    font-weight: bold;
}

#playerlist {
    margin: 0;
    padding: 0;
}

#playerlist li {
    list-style: none;
    margin: 0;
    padding: 2px;
    border-top: 1px solid #999;
    font-size: 90%;
    line-height: 1.6;
}

#playerlist li:last-of-type {
    border-bottom: 1px solid #999;
}

#playerlist li.dead {
    background-color: #d0d0d0;
    color: black;
}

.red {
    color: red;
}
.pink {
    color: pink;
}
.orange {
    color: orange;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}
.skyblue {
    color: skyblue;
}
.blue {
    color: blue;
}
.indigo {
    color: indigo;
}
.purple {
    color: purple;
}
.black {
    color: black;
}
