* { box-sizing: border-box; }

html{
	font-family: Helvetica, sans-serif;

}

body{
	margin:0;
	padding:0;
	background: url(../images/bg_gray.gif) fixed;
	background-position: left 50% top 50%;
}

body.day{
	background-image: url(../images/bg_lightblue.gif);
}

body.vote{
	background-image: url(../images/bg_yellow.gif);
}

body.night{
	background-image: url(../images/bg_black.gif);
}

body.ability{
	background-image: url(../images/bg_blue.gif);
}

#container{
	width: 1000px;
	min-height:calc(100vh - 40px);
	margin: 0 auto;
	font-size:0;
	background-color:#fefefe;
	padding:10px 0px;


}

header{
	font-size:16px;
	width:1000px;
	height:40px;
	background-color: orange;
	padding: 0px 10px;
	position: relative;
	margin: 0 auto;
}

header .top{
	position: absolute;
	right:5px;
	bottom: 5px;
}
header h1{
	font-size:24px;
	line-height: 40px;

	margin:0;
	padding:0;
	display:inline;
}

#second{
	font-weight: bold;
	font-size:24px;
}
#left{
	width: 750px;
	font-size:16px;
	padding:0px 10px;
}
#right{
	width: 250px;
	font-size:16px;
	padding:0px 10px;
	vertical-align: top;
	position: sticky;
	top:0px;
}
#left, #right{
	display:inline-block;
}
#talk{
	height:100px;
}
.hide{
	visibility: hidden;			
}

#option{
	width:100px;
	text-align:center;
	display:inline-block;
}

#option select{
	width:90%;
}
#chat{
	width: 130px;
	height: 80px;
	vertical-align: bottom;
}
#message{
	width:500px;
	height: 80px;
	vertical-align: bottom;
}

.size{
	display: inline-block;
	width:40px;
	height:40px;
	border: 3px solid #999;
	border-radius:3px;
	line-height: 40px;
	cursor: pointer;
	margin-bottom:10px;
	vertical-align: bottom;
	user-select: none;
}

.size.selected{
	border-color:red;
}

.size.big{
	color: crimson;
	font-weight: bold;
}

.size.small{
	color: navy;
	font-size:13px;
}


#command{
	margin-bottom: 10px;
}

#job{
	display:none;
	border-radius:5px;
	background-color: #d0d0d0;
	font-size: 15px;
	padding: 5px;
	user-select: none;
	margin-bottom: 10px;
}

#command > div{
	display:none;
	text-align:center;
	border-radius: 5px;
	padding:5px;
	margin-bottom: 10px;
}

.handle{
	font-size:13px;
	cursor: pointer;
	user-select: none;
}

#command > div div.detail{
	display:none;
}

#command-logout, #command-gm{
	background-color: #d0d0d0;
}

#command-vote{
	background-color: moccasin;
}

#command-vote > div, #command-ability > div{
	display:inline-block;
	width:50%;
}

select{
	height:26px;
}

div.box{
	display:inline-block;
	vertical-align: top;
	text-align: left;
	padding: 0px 5px;
}

input[type=button].big{
	width:120px;
	height:60px;
}
input[type=text]{
	width:120px;
	height:26px;
}

input[type=number]{
	width:50px;	
	height:26px;
}

input.long{
	width:400px;
}

#vinfo{
	text-align:left;
	display:none;
}
#vinfo div{
	min-width:35px;
	display: inline-block;
}


div.alert{
	font-weight:bold;
	color:white;
	background-color:red;
	border-radius: 5px;
	font-size:24px;

}


div.alert.hide{
	visibility: hidden;
}

#discuss {
	width:100%;
	border-collapse: collapse;

	font-size:14px;
	line-height:1.6;
}

#discuss td{
	padding: 5px 5px;
}


#discuss td.name{
	width:130px;
	max-width: 130px;
	vertical-align: top;
}

#discuss td.talk {
	position:relative;
	
	padding-right:25px;
	width:600px;
	max-width: 600px;
	overflow:hidden;
}

#discuss div.quote{
	width:20px;
	height:20px;
	background-color : #333;
	border-radius:2px;
	position: absolute;
	top:3px;
	right:0px;
	background: url(../images/quote.png) no-repeat center #666;
	cursor: pointer;
}

tr.discuss td.talk.big{
	color: crimson;
	font-weight: bold;
}

tr.discuss td.talk.small{
	font-size:13px;
	color: teal;
}

.talk blockquote{
	font-size:13px;
	border:1px solid #666;
	margin: 5px 5px 5px 0px;
	padding:10px;
	border-radius: 3px;

	position: relative;
}

blockquote div.resno{
	position: absolute;
	right:-1px;
	top:-1px;

	width:60px;
	height:16px;

	border-radius: 3px;
	font-size: 12px;
	background-color:#454545;
	color: white;
	text-align:center;
}

.votesummary{
	font-weight: normal;
	font-size:14px;
	border-collapse: collapse;
	margin: 10px;
}

.votesummary td{
	border: 1px solid #666;
	border-width: 1px 0px;
	padding:2px;
}
.talk{

}

.system, .progress {
	background-color:#d0d0d0;
	font-weight:bold;

}


.info{
	background-color: #d0d0d0;
}

.tweet{
	background-color: dimgray;
	color:white;
}

.wolf{
	background-color: pink;
}

.wolf-system{
	background-color: pink;
	user-select: none;
}


.share{
	background-color: palegreen;
}

.fox{
	background-color:  yellow;
}

.personal{
	background-color: paleturquoise;
	user-select: none;
}

.grave{
	background-color: wheat;
}

.gmMessage{
	background-color: violet;
}

.offline{
	color: red;
}

.vote{
	background-color: moccasin;
}

.votenum{
	background-color: orange;
	border-radius: 8px;
	padding:0px 4px;
	color:white;
	font-weight: bold;
}

#playerlist{
	margin:0;
	padding:0;
}

#playerlist li{
	list-style: none;
	margin: 0;
	padding:2px 0px;
	border-top: 1px solid #999;
}

#playerlist li:last-of-type{
	border-bottom: 1px solid #999;
}

#playerlist li.dead{
	background-color: #d0d0d0;
}

.red{color: red;}
.pink{color: pink;}
.orange{color: orange;}
.yellow{color: yellow;}
.green{color: green;}
.skyblue{color: skyblue;}
.blue{color: blue;}
.indigo{color: indigo;}
.purple{color: purple;}
.black{color: black;}

#memoButton{
	position: fixed;
	bottom:10px;
	right: 10px;

	width:70px;
	height:30px;
	padding: 5px;
	border-radius: 3px;
	line-height: 20px;

	background-color: rgba(0,0,0,0.7);
	color:white;
	text-align: center;
	cursor:pointer;
}
#memo{
	position: fixed;
	width: 700px;
	height:100vh;
	padding:10px;
	background-color: rgba(127,127,127,0.7);

	top: 0;
	right: -700px;
}

#memo.disp{
	right: 0px;
}

#memoClose{
	width: 24px;
	height:24px;
	position: absolute;
	top:10px;
	right:10px;
	background-color:white;
	border-radius: 4px;
	text-align: center;
	font-size:24px;
	line-height: 24px;
	cursor: pointer;
}


#memoTabs{
	height: 24px;
	font-size:0;
	margin-top:16px;
}

.memoTab{
	height:100%;
	line-height: 24px;
	display: inline-block;
	width: 120px;
	border-radius: 8px 8px 0px 0px;
	background-color: white;
	text-align: center;
	cursor:pointer;
	background-color: orange;
	color:white;
	font-weight:bold;
	font-size: 14px;
	vertical-align: top;
	user-select: none;
}

.memoTab.selected{
	color:orange;
	background-color: white;
}

#memoBody{
	height: calc(100% - 40px);
	background-color: white;
	border-radius: 0px 8px 8px 8px;
	padding:5px;
}

#memoDiscuss, #memoVote, #memoFree{
	height: 100%;
	overflow-y: scroll;
}

#memoDiscuss{
	font-size:0;
}

#memoDiscussFilter{
	position: sticky;
	top:0;
	display: inline-block;
	font-size:12px;
	width: 130px;
	vertical-align: top;
}

#memoDiscussPlayer, #memoDiscussDay{
	margin:0;
	padding:0;
}

#memoDiscussPlayer{
	margin-bottom: 20px;
}

#memoDiscussPlayer li{
	list-style: none;
	margin: 0;
	padding:0;
	cursor: pointer;
	user-select: none;
}

#memoDiscussFilter li.selected{
	background-color: #fff280;
}

#memoDiscussFilter li:hover{
	background-color: #fff280;
}

#memoDiscussTable {
	display: inline-block;
	font-size:12px;
	width: 520px;
	border-collapse: collapse;
}

#memoDiscussTable tr{
	display: none;
}

#memoDiscussTable td.name{
	width:130px;
	max-width: 130px;
	vertical-align: top;
	font-size:12px;
}

#memoDiscussTable td.talk{
	width:390px;
	max-width: 390px;
	vertical-align: top;
	font-size:12px;
	position: relative;
}

#memoDiscussTable div.quote{
	position: absolute;
	right:0;
	top:0;
}
#memoDiscussTable div.quote:before{
	content:"引用";
	color:blue;
	text-decoration: underline;
	cursor: pointer;
}


#memoDiscussTable td.talk blockquote{
	font-size:12px;
	padding:5px;
	margin-right:25px;

}

#memoFreeSpace{
	width: 100%;
	height: 90%;
}

#menu-sp{
	display:none;
}